@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}
<h5>New Arrivals</h5>
<div class="row">   
    @foreach(var product in Model)
    {   //@(DateTime.Now - @product.CreatedDate).Days;
        @if (DateTime.Now.Subtract(@product.CreatedDate).Days <= 3)
        {
         <div class="col-4">
        <div class="card border-0" style="width: 18rem; align-items:center">
            <img 
            src="@product.Image" 
            class="card-img-top"
            alt="..." 
            style="width: 250px; height: 400px"  />
            <div class="card-body" style="text-align: center">
            <h5 class="card-title">@product.Name-@product.Id</h5>
            <p class="card-text">
                Some quick example text to build on the card title and
                make up the bulk of the card's content.
            </p>
            <p class="card-text">
                @product.Price
            </p>
            <button class="btn btn-dark" style="width: 100%">
                <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id=@product.Id>
                    Detail
                </a>
                </button>
            </div>
        </div>
        </div>   
        }   
    }
</div>


<hr />


<h5>All Products</h5>
<div class="row">   
    @foreach(var product in Model)
    {
    <div class="col-4">
    <div class="card border-0" style="width: 18rem ; align-items:center">
        <img 
        src="@product.Image" 
        class="card-img-top"
        alt="..." 
        style="width: 250px; height: 400px"  />
        <div class="card-body" style="text-align: center">
        <h5 class="card-title">@product.Name</h5>
        <p class="card-text">
            Some quick example text to build on the card title and
            make up the bulk of the card's content.
        </p>
        <p class="card-text">
            @product.Price
        </p>
        <button class="btn btn-dark" style="width: 100%">
            <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id=@product.Id>
                Detail
            </a>
            </button>
        </div>
    </div>
    </div>
    }
</div>